<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <main class="position-relative">
        <%= header %>
            <section id="hero" class="position-relative pt-5">
                <div class="container">
                    <div class="row pt-5 justify-content-center">
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                            <div class="py-1 pt-5 my-1 mt-5 py-lg-5 my-lg-5">
                                <h1 class="display-4 fw-bold">About Us</h1>
                                <div class="col">
                                    <p class="lead mb-4">Storyy is a leading provider of innovative storytelling
                                        solutions, committed to transforming the way stories are shared. Founded with a
                                        passion for creativity and excellence, Storyy aims to inspire and engage
                                        audiences worldwide. With a focus on captivating narratives and interactive
                                        experiences, we empower individuals and organizations to share their stories
                                        with impact.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end py-lg-5">
                            <div
                                class="py-5 mb-5 py-lg-1 my-lg-5 text-center about-ceo-wrapper position-relative rounded-5 overflow-hidden">
                                <img class="about-ceo d-block mx-auto mb-4 rounded-5 shadow-sm"
                                    src="https://source.unsplash.com/900x1200/?man" alt="" width="500" height="500" />

                                <h3>
                                    Greg Dawson. Jr <br> CEO
                                </h3>
                                </img>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="galery" class="position-relative">
                <div class="container border-top">
                    <div class="row pt-5 justify-content-center">
                        <h2 class="display-4 fw-bold">Meet Us</h2>
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="my-5">
                                <div class="col">
                                    <p class="lead mb-4">At Storyy, we are a diverse team of creative minds driven by a
                                        shared vision to elevate storytelling. Our dedicated team members bring a wealth
                                        of experience and expertise, united in our mission to craft compelling
                                        narratives and foster meaningful connections. Get to know the faces behind
                                        Storyy and discover the passion and dedication that fuels our work.
                                    </p>
                                    <div
                                        class="col-12 d-flex flex-shrink flex-wrap align-items-center justify-content-center">
                                        <div class="p-1 mb-3">
                                            <img src="https://source.unsplash.com/1200x700/?office" alt=""
                                                class="rounded-5 shadow-sm" width="500" height="auto">
                                        </div>
                                        <div class="p-1 mb-3">
                                            <img src="https://source.unsplash.com/1200x700/?work" alt=""
                                                class="rounded-5 shadow-sm" width="500" height="auto">
                                        </div>
                                        <div class="p-1 mb-3">
                                            <img src="https://source.unsplash.com/1200x700/?employee" alt=""
                                                class="rounded-5 shadow-sm" width="500" height="auto">
                                        </div>
                                        <div class="p-1 mb-3">
                                            <img src="https://source.unsplash.com/1200x700/?meeting" alt=""
                                                class="rounded-5 shadow-sm" width="500" height="auto">
                                        </div>
                                        <div class="p-1 mb-3">
                                            <img src="https://source.unsplash.com/1200x700/?job" alt=""
                                                class="rounded-5 shadow-sm" width="500" height="auto">
                                        </div>
                                        <div class="p-1 mb-3">
                                            <img src="https://source.unsplash.com/1200x700/?tech" alt=""
                                                class="rounded-5 shadow-sm" width="500" height="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%= footer %>
    </main>
</body>

</html>