<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <main>
    <%= header %>
      <section id="hero" class="container">
        <div class="row justify-content-center">
          <div class="col d-flex align-items-center justify-content-center">
            <div class="px-4 py-5 my-5 text-center">
              <img class="d-block mx-auto mb-4" src="../public/img/logo.png" alt="" width="auto" height="200">
              <h1 class="display-4 fw-bold">Welcome to Storyy App 🌟</h1>
              <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Explore captivating adventures and heartfelt tales, immersing yourself in the
                  boundless magic of storytelling.
                </p>
                <div class="d-flex gap-2 justify-content-center">
                  <a href="/explore">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Explore</button>
                  </a>
                  <a href="/about">
                    <button type="button" class="btn btn-outline-light btn-lg px-4">Learn More</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="showcase" class="container rounded-pill bg-dark bg-gradient bg-opacity-10">
        <div class="row justify-content-center">
          <div class="col d-flex align-items-center justify-content-center">
            <div class="px-4 py-5 my-5 text-center">
              <h2 class="display-4 fw-bold mb-3">Explore our collection</h2>
              <div class="book-item-wrapper col-lg-8 mx-auto">
                <div class="book-item rounded-5"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= footer %>
  </main>
</body>

</html>