<header class="container position-relative p-0">
    <nav id="navbar" class="navbar navbar-expand-lg position-fixed px-3 w-100">
        <div class="container border border-light rounded-5 p-3 bg-black bg-gradient">
            <a class="navbar-brand" href="/"><span class="fs-4 fw-bold text-white">
                    Storyy
                </span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="/explore" class="nav-link">Explore</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    // header anim
    let lastScrollTop = 0;
    const navbar = document.getElementById('navbar');

    window.addEventListener('scroll', function () {
        const scrollTop = window.scrollY;
        const isScrollingDown = scrollTop > lastScrollTop;

        navbar.classList.toggle('slide-up', isScrollingDown);
        lastScrollTop = scrollTop;
    });

</script>